* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif; }

/* MAPS */
/* EXTEND */
.flex__datos img, .iconos img {
  width: 30px;
  height: 30px;
  margin-left: -32px;
  margin-top: 3px;
  margin-bottom: 5px; }

header .flex__nav__lista, footer {
  display: flex;
  height: 10vh;
  align-items: center; }

/* MIXIN */
/* para llamar el mixin

@include flexbox ($direction, $justify) si o si pasarlos en el orden declarado
osea en la pagina que queres las variables pones:
@include flexbox (column, center) ej.


*/
header {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(224, 212, 197, 0.4); }
  header .logo__estudio {
    height: 8vh; }
  header .flex__nav__lista {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    font-size: larger;
    list-style-type: none;
    flex-wrap: wrap; }
  header .flex__nav__link {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    text-decoration: none; }

footer {
  justify-content: space-around;
  background-color: rgba(224, 212, 197, 0.4); }
  footer .flex__copyright {
    text-align: center; }
  footer .flex__redessociales {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15vw; }
  footer .footer__logos {
    width: 25px;
    height: 100%; }
  footer h2 {
    font-size: 20px; }

.body__index {
  background-image: url(../imagenes/background.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0%;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.body__estudio {
  background-color: #e2e1da; }

.imagen__estudio {
  width: 80%;
  margin-top: 10vh;
  margin-right: 5vw;
  margin-bottom: 8vh;
  margin-left: 10vw; }

.descripcion__estudio {
  width: 88%;
  margin-left: 3vw; }

.descripcion__estudio h2 {
  width: 90%;
  font-size: 25px;
  margin-top: 15px !important;
  margin-left: 75px;
  font-size: 27px !important; }

.descripcion__estudio p {
  font-size: 14px;
  margin-left: 68px;
  animation-duration: 3s;
  animation-name: slidein;
  content: 100px;
  padding: 1%;
  text-align: justify; }

@keyframes slidein {
  from {
    margin-left: 60%;
    width: 100%; }
  to {
    width: 100%; } }

.subtitulo__estudio {
  font-size: 20px;
  margin: 2% 0;
  font-weight: bold; }

.estudio__grid {
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 80%;
  margin-left: 10vw;
  margin-bottom: 10vh;
  margin-top: 15vh; }

.equipo__descripcion {
  text-align: justify;
  font-size: 14px; }

.equipo__descripcion p {
  width: 85%;
  margin-left: 5vw;
  margin-top: 3vw; }

.imagen__arquitecto:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: transform .5s; }

.arquitecto {
  text-align: center; }

.imagen__arquitecto {
  height: 30vh;
  filter: grayscale(0.8); }

@media only screen and (max-width: 768px) {
  header {
    width: fit-content;
    height: 12vh;
    color: rgba(224, 212, 197, 0.4); }
  .flex__nav__lista {
    flex-wrap: wrap; }
  footer {
    flex-direction: column-reverse;
    height: 14vh; }
  footer a {
    padding: 1rem; }
  .contenedor {
    flex-direction: column; }
  .contenedor div {
    width: 100% !important; }
  .estudio__grid {
    width: 80%;
    display: flex;
    flex-direction: column-reverse; }
  .descripcion__estudio {
    width: 80%;
    margin: auto; }
  .descripcion__estudio h2 {
    margin: auto; }
  .descripcion__estudio p {
    margin: auto;
    margin-top: 5vh; }
  .equipo__descripcion {
    margin-bottom: 2vh;
    width: 80vw; }
  .arquitecto {
    margin-bottom: 5vh; }
  .main__contacto {
    display: flex;
    flex-direction: column; }
  .imagen__contacto {
    position: relative;
    margin: auto;
    margin-top: 1rem;
    width: 300px; }
  .titulo__contacto {
    margin: 2rem;
    font-size: 30px; }
  .subtitulo__estudio {
    margin-bottom: 20px;
    margin-left: 40px;
    font-size: 20px; }
  .ubicacion__g {
    width: 40%; }
  .servicio {
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content; }
  .titulo__servicio {
    margin: 1rem; }
  .main__servicio {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .servicio {
    width: 100%;
    margin-top: 14vh;
    margin-left: 10vw; }
  .servicio__formulario {
    width: fit-content; }
  .tipoDeConstruccion {
    width: fit-content; } }

.body__contacto {
  background-color: #e2e1da; }

.main__contacto {
  display: flex;
  flex-direction: column; }

.imagen__contacto {
  width: 45vw;
  position: absolute;
  margin-left: 23vw;
  margin-top: 4rem; }

.titulo__contacto {
  margin-left: 7vw; }

.flex__datos {
  height: 80%;
  color: black;
  margin-top: 10vh;
  margin-bottom: 14vh; }

.lista__contacto {
  margin-left: 7vw;
  font-size: 18px;
  list-style: none;
  margin-top: 3vh; }

.lista__contacto li {
  padding: 1rem; }

.ubicacion {
  margin-bottom: 1rem;
  width: 100%; }

.ubicacion__g {
  width: 80%;
  height: 35vh;
  margin-left: 80px;
  margin-top: 32px; }

.titulo__cv {
  margin-left: 4vw;
  width: 75%; }

.body__servicio {
  background: none;
  background-color: #e2e1da; }

.titulo__servicio {
  text-align: center;
  font-size: 37px; }

.servicio h2 {
  font-size: 25px;
  margin-top: 5vh;
  text-align: center;
  margin-bottom: 5vh; }

.servicio p {
  font-size: 20px;
  width: 80%;
  margin-left: 3vw;
  margin-bottom: 10vh;
  text-align: justify; }

.servicio__formulario {
  font-size: 20px;
  width: 100vw;
  margin-left: 85px; }

.nombre {
  width: 173px; }

.email {
  width: 251px; }

.tipoDeConstruccion {
  margin-left: 85px;
  font-size: 20px; }

.selector {
  width: 227px; }

.enviar {
  width: 77px; }

.body__proyectos {
  background-color: #e2e1da; }

.logo__img {
  width: 200px;
  height: 100px;
  padding: 0px;
  margin: 0%;
  border: 0; }

.body__proyecto {
  background: none;
  background-color: #e2e1da; }

.iconos {
  list-style: none; }

.main__proyecto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  margin-bottom: 10vh; }

.proyecto__container span {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 6px;
  margin-bottom: 8px; }

.contenedor div {
  margin-bottom: 35px; }
