* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

.body__index{
    background-image: url(./imagenes/background.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0%;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    background-color:rgba(224, 212, 197, 0.4);
}

.logo__estudio{
    height: 8vh;
    
}

.flex__nav__lista {
    display: flex;
    width: 100%;
    height: 11vh;
    align-items: center;
    justify-content: flex-end;
    font-size: larger;
    list-style-type: none;
    flex-wrap: wrap;
}

.flex__nav__link{
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
}


footer{
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(224, 212, 197, 0.4);
}

.flex__copyright {
    text-align: center;
}

.flex__redessociales {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
}

.footer__logos {
    width: 25px;
    height: 100%;
}

/* PAGINA "ESTUDIO" */

.body__estudio {
    background-color:  #e2e1da;    
}

.imagen__estudio {
    width: 90%;
    margin-left: 5vw;
    margin-top: 5vh;
}

h2 {
    margin-top: 15px !important;
    margin-left: 75px;
    font-size: 27px !important;
}

.descripcion__estudio{
    width: 95%;
}

.descripcion__estudio p{
    margin-left: 68px;
    animation-duration: 3s ;
    animation-name: slidein ;
    content: 100px;
    padding: 1%;
    text-align: justify;
}
@keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
}

.subtitulo__estudio{
    font-size: 20px;
    margin: 2% 0;
    font-weight: bold;
}

.estudio__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.equipo__descripcion{
    margin-left: 9vw;
    margin-top: 9vh;
    text-align: justify;
}

.arquitecto {
    text-align: center;
    font-size: 25px;
}

.imagen__arquitecto{
    height: 42vh;
    filter: grayscale(0.8);
}

/*   PAGINA "PROYECTOS"  */

.body__proyectos {
    background-color:  #e2e1da;    
}

.logo__img{
    width: 200px;
    height: 100px;
    padding: 0px;
    margin: 0%;
    border: 0;
}

.body__proyecto{
    background: none;
    background-color:  #e2e1da;
}

.iconos{
    list-style: none;
}

.iconos img{
    width: 30px;
    height: 30px;
    margin-left: -32px;;
    margin-top: 3px;
    margin-bottom: 5px;
}

.main__proyecto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.proyecto__container span {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 8px;
}

.contenedor div{
    margin-bottom: 35px;
}

/*  PAGINA "CONTACTO"  */

.body__contacto{
        background-image: url(./imagenes/imagenestudio2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 0%;
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

.main__contacto {
    display: flex;
    flex-direction: column;
}

.imagen__contacto {
    width: 45vw;
    position: absolute;
    margin-left: 23vw;
    margin-top: 4rem;
}

.titulo__contacto {
    margin-left: 40px;
    margin-top: 15px;
    font-size: 20px;
}

.parrafo__estudio {
    animation-duration: 3s;
    animation-name: slidein;
}


.flex__datos {
    height: 80%;
    color: #ebe9e3;
}

.lista__contacto {
    margin-left: 8px;
    font-size: 18px;
    list-style: none;
}

.ubicacion {
    margin-bottom: 1rem;
}

.ubicacion__g{
    margin-left: 40px;
    margin-top: 32px;
    border:solid;
    border-color:rgba(224, 212, 197, 0.4);
}

.titulo__cv h3{
    font-size: 22px;
}

.cv {
    display: flex;
    justify-content: flex-start;
    margin: 2rem;
} 


/*  PAGINA SERVICIO  */
 
.body__servicio {
    background: none;
    background-color:  #e2e1da;
}

.titulo__servicio {
    text-align: center;
    font-size: 37px;
}
.servicio {
    margin: -10px;
    font-size: 20px;
    margin-left: 85px;
    width: 615px;
}
    
.servicio__descripcion {
    width: 579px;
    font-size: 20px;
    margin: 30px;
    text-align: justify;
    margin-left: 85px;
}

.servicio__formulario {
    font-size: 20px;
    width: 100vw;
    margin-left: 85px;
}

.nombre {
    width: 173px;
}
.email {
    width: 251px;
}

.tipoDeConstruccion {
    margin-left: 85px;
    font-size: 20px;
}
.selector{
    width: 227px;
}

.enviar {
    width: 77px;
}

/*  Aplicando Media query  */

@media only screen and (max-width: 768px) {
    header {
        width: 100%;
        height: 12vh;
    }

    .flex__nav__lista{
        flex-wrap: wrap;
    }
    footer{
        flex-direction: column-reverse;
        height: 14vh;
    }

    footer a{
        padding: 1rem;
    }

    .contenedor{
        flex-direction: column;
    }

    .contenedor div{
        width: 100% !important;
    }

    .estudio__grid{
        display: flex;
        flex-direction: column-reverse;
    }

    .descripcion__estudio p{
        margin: 1rem;

    }

    .equipo__descripcion{
        width: 80vw;
    }

    .main__contacto{
        display: flex;
        flex-direction: column;

    }

    .imagen__contacto{
        position: relative;
        margin: auto;
        margin-top: 1rem;
        width: 300px;
    }
    .titulo__contacto {
        margin: 2rem;
        font-size: 30px;
    }
    .subtitulo__estudio {
        margin-bottom: 20px;
        margin-left: 40px;
        font-size: 20px;
    }
    .servicio{
      width: fit-content;
    }
    .titulo__servicio{
      margin: 1rem;
    }
    .main__servicio h2{
      margin: 1rem;
    }
    .servicio__descripcion{
        width: fit-content;
        text-align: justify;
    }
    .servicio__formulario{
        width: fit-content;
    }
    .tipoDeConstruccion{
        width: fit-content;
    }
}   