.body__contacto{
    background-color: $color-principal;
}

.flex__datos img{
    @extend %iconos;
}


.main__contacto {
display: flex;
flex-direction: column;
}

.imagen__contacto {
width: 45vw;
position: absolute;
margin-left: 23vw;
margin-top: 4rem;
}

.titulo__contacto {
margin-left: 7vw;
font-size:map-get($tamanio-tipografia, titulo)
}

.grid__datos {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;    
height: 80%;
color: black;
margin-top: 10vh;
margin-bottom:14vh;
}

.lista__contacto {
@extend %iconosContacto
}

.lista__contacto li{
    padding: $padding;
}

.iconos__contactos {
    width: 30px;
}

.lista__redesContacto {
    @include iconosContacto (0vw)
}

.lista__redesContacto a {
    margin-right: $padding;
}

.lista__redesContacto li{
    padding: $padding;
}

.ubicacion {
margin-bottom: 1rem;
width: 100%;
}

.ubicacion__g{
width: 80%;
height: 35vh;
margin-left: 80px;
margin-top: 32px;
}

.titulo__cv {
    margin-left: 4vw;
    width: 75%;
}