.body__estudio {
    background-color:  $color-principal;    
}

.imagen__estudio {
    width: 80%;
    @include margenes(5vw, 8vh);
}

.descripcion__estudio{
    width: 88%;
    margin-left: 3vw;
}

.descripcion__estudio h2{
    width: 90%;
    font-size: map-get($tamanio-tipografia, titulos);
    margin-top: 15px !important;
    margin-left: 75px;
    font-size: 27px !important;
}


.descripcion__estudio p{
    font-size: map-get($tamanio-tipografia, parrafos);
    margin-left: 68px;
    animation-duration: 3s ;
    animation-name: slidein ;
    content: 100px;
    padding: 1%;
    text-align: justify;

}
@keyframes slidein {
        from {
          margin-left: 60%;
          width: 100%
        }
      
        to {
          width: 100%;
        }
}

.subtitulo__estudio{
    font-size: map-get($tamanio-tipografia, subtitulos);
    margin: 2% 0;
    font-weight: bold;
}

.grid__bosquejos {
    display: flex;
    width: 100%;
}

.imagenes__bosquejos {
    width: 100%;
}


.estudio__grid{
    font-size: map-get($tamanio-tipografia, parrafos);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 80%;
    margin-left: 10vw;
    margin-bottom: 10vh;
    margin-top: 15vh;
}

.equipo__descripcion{
    text-align: justify;
    font-size: map-get($tamanio-tipografia, parrafos);
}

.equipo__descripcion p{
    width: 85%;
    margin-left: 5vw;
    margin-top: 3vw;
}

.imagen__arquitecto:hover{
    	-webkit-transform: scale(1.3);
    	-ms-transform: scale(1.3);
    	transform: scale(1.3);
        transition: transform .5s;
}

.arquitecto {
    text-align: center;
}

.imagen__arquitecto{
    height: 30vh;
    filter: grayscale(0.8);}

h4{
   margin-left: 10vw;
   margin-bottom: 10vh;
}