$color-principal: #e2e1da;   
$display: flex;
$height: 10vh;
$width: 100vw;
$margin: auto;
$padding: 1rem;

/* MAPS */

$tamanio-tipografia: (
    titulos: 25px,
    subtitulos: 20px,
    parrafos: 18px,
    );

$colores:(
   principal: $color-principal,
   encabezado: rgba(224, 212, 197, 0.4),
   tipografia: black,
);

/* EXTEND */

%iconos__redessociales {
    width: 25px;
    height: 100%;
}


%iconos{
    width: 30px;
    height: 30px;
    margin-left: -32px;;
    margin-top: 3px;
    margin-bottom: 5px;
}

%flex-center {
    display: flex;
    height: 10vh;
    align-items: center;
};

%margenestl {
    margin-top: 10vh;
    margin-left: 10vh;
}

%iconosContacto {
    margin-left: 4vw;
    font-size: 18px;
    list-style: none;
    margin-top: 3vh;
}

%proyectos{
    
}

/* MIXIN */

@mixin margenes ($margin-rigth, $margin-bottom) {
    margin-top: 10vh;
    margin-right: $margin-rigth;
    margin-bottom: $margin-bottom;
    margin-left: 10vw;
};

@mixin iconosContacto ($margin-left){
    margin-left: $margin-left;
    font-size: 18px;
    list-style: none;
    margin-top: 3vh;
}


